<h1> Welcome <%=@character.name%>!</h1>

<h3>Name:</h3>
<%= @character.name %>
<h3>Race:</h3>
<%= @character.race %>
<h3>Battle Class:</h3>
<%= @character.battle_class %>
<h3>Profession:</h3>
<%= @character.profession %>